<div class="pt-4 my-md-5 pt-md-5 border-top container">
  <div class="row">
    <div class="col-12 col-md">
      <span class="ms-2 align-middle fw-bold">Bayer Healthcare</span>
      <small class="d-block mb-3 text-muted">© 20XX–20XX</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Covid 19</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Heart health</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Mental wellness</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Healthy Living Tips</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Nutrition Guides</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Exercise Resources</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</div>